Repository davyuu/mycit-svelte: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
	"*.{js,ts,svelte}": "eslint --fix",
	"*.{js,ts,svelte,css,scss,postcss,md,json}": "prettier --write"
}

Fix all lint + format (#2)
  src/lib/components/Counter.svelte
  src/lib/components/Header.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/sverdle/+page.svelte
Due: eslint --fix, prettier --write

Add CI
  .github/workflows/tests.yml
  package-lock.json
  package.json
Due: prettier --write

Test only with node 18
  .github/workflows/tests.yml
  package.json
Due: prettier --write

Fix CI Tests
  .github/workflows/tests.yml
Due: none

Fix format
  .github/workflows/tests.yml
Due: none

Test
  .lintstagedrc
Due: none

Add CI (#1)
  .github/workflows/tests.yml
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

Rename
  package-lock.json
  package.json
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

Rename (#2)
  package-lock.json
  package.json
  src/routes/+page.svelte
Due: eslint --fix, prettier --write

Add tailwind and icons. Build home cards
  package-lock.json
  package.json
  postcss.config.js
  src/app.d.ts
  src/lib/components/Home/Home.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/styles.css
  src/routes/styles.scss
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write

Remove link for now
  src/lib/components/Home/Home.svelte
Due: eslint --fix, prettier --write

Add tailwind, icons and home cards (#3)
  package-lock.json
  package.json
  postcss.config.js
  src/app.d.ts
  src/lib/components/Home/Home.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/styles.css
  src/routes/styles.scss
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write

Add messages page
  .eslintrc.cjs
  src/lib/components/Home/Home.svelte
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/message/+page.svelte
  src/routes/message/+page.ts
Due: eslint --fix, prettier --write

Add message response type
  src/routes/message/+page.svelte
Due: eslint --fix, prettier --write

Add messages page (#4)
  .eslintrc.cjs
  src/lib/components/Home/Home.svelte
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/message/+page.svelte
  src/routes/message/+page.ts
Due: eslint --fix, prettier --write

Remove semicolons
  .eslintrc.cjs
  .prettierrc
  postcss.config.js
  src/app.d.ts
  src/lib/components/Counter.svelte
  src/lib/components/Header.svelte
  src/lib/components/Home/Home.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/about/+page.ts
  src/routes/message/+page.svelte
  src/routes/message/+page.ts
  src/routes/sverdle/+page.server.ts
  src/routes/sverdle/+page.svelte
  src/routes/sverdle/game.test.ts
  src/routes/sverdle/game.ts
  src/routes/sverdle/how-to-play/+page.ts
  src/routes/sverdle/reduced-motion.ts
  src/routes/sverdle/words.server.ts
  svelte.config.js
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write

Remove semicolons (#5)
  .eslintrc.cjs
  .prettierrc
  postcss.config.js
  src/app.d.ts
  src/lib/components/Counter.svelte
  src/lib/components/Header.svelte
  src/lib/components/Home/Home.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/+page.ts
  src/routes/about/+page.ts
  src/routes/message/+page.svelte
  src/routes/message/+page.ts
  src/routes/sverdle/+page.server.ts
  src/routes/sverdle/+page.svelte
  src/routes/sverdle/game.test.ts
  src/routes/sverdle/game.ts
  src/routes/sverdle/how-to-play/+page.ts
  src/routes/sverdle/reduced-motion.ts
  src/routes/sverdle/words.server.ts
  svelte.config.js
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write

Remove sverdle page
  src/lib/components/Header.svelte
  src/routes/about/+page.svelte
  src/routes/sverdle/+page.server.ts
  src/routes/sverdle/+page.svelte
  src/routes/sverdle/game.test.ts
  src/routes/sverdle/game.ts
  src/routes/sverdle/how-to-play/+page.svelte
  src/routes/sverdle/how-to-play/+page.ts
  src/routes/sverdle/reduced-motion.ts
  src/routes/sverdle/words.server.ts
Due: eslint --fix, prettier --write

Add Firebase deploy
  .firebaserc
  .github/workflows/dev-merge.yml
  .github/workflows/pull-request.yml
  .gitignore
  .prettierignore
  firebase.json
  package-lock.json
  package.json
  src/lib/components/Home/Home.svelte
  src/routes/+layout.ts
  src/routes/page.test.ts
  src/routes/styles.scss
  svelte.config.js
Due: eslint --fix, prettier --write

Add Firebase CD (#6)
  .firebaserc
  .github/workflows/dev-merge.yml
  .github/workflows/pull-request.yml
  .gitignore
  .prettierignore
  firebase.json
  package-lock.json
  package.json
  src/lib/components/Header.svelte
  src/lib/components/Home/Home.svelte
  src/routes/+layout.ts
  src/routes/about/+page.svelte
  src/routes/page.test.ts
  src/routes/styles.scss
  src/routes/sverdle/+page.server.ts
  src/routes/sverdle/+page.svelte
  src/routes/sverdle/game.test.ts
  src/routes/sverdle/game.ts
  src/routes/sverdle/how-to-play/+page.svelte
  src/routes/sverdle/how-to-play/+page.ts
  src/routes/sverdle/reduced-motion.ts
  src/routes/sverdle/words.server.ts
  svelte.config.js
Due: eslint --fix, prettier --write

Skip tests and add build on merge deploy
  .github/workflows/dev-merge.yml
Due: none

Skip tests and add build on merge deploy (#7)
  .github/workflows/dev-merge.yml
Due: none

npm update
  package-lock.json
Due: prettier --write

Bump git node version
  .github/workflows/dev-merge.yml
Due: none

Remove unused
  .npmrc
Due: none

Use nvmrc for node version
  .github/workflows/dev-merge.yml
  .github/workflows/pull-request.yml
  .nvmrc
  .prettierignore
Due: none

Run npm audit and update (#8)
  .github/workflows/dev-merge.yml
  .github/workflows/pull-request.yml
  .npmrc
  .nvmrc
  .prettierignore
  package-lock.json
Due: prettier --write

Fix pr action
  .github/workflows/pull-request.yml
Due: none

Deploy to dev and live
  .github/workflows/dev-merge.yml
Due: none

Fix deploy
  .github/workflows/dev-merge.yml
Due: none

GA does not support ternary
  .github/workflows/dev-merge.yml
Due: none

Try env var instead
  .github/workflows/dev-merge.yml
Due: none

Separate firebase dev and main
  .github/workflows/dev-merge.yml
  firebase.json
Due: prettier --write

site or target, not both. use target
  firebase.json
Due: prettier --write

Set pr to dev
  .firebaserc
  .github/workflows/pull-request.yml
  .prettierignore
Due: none

Remove target
  .github/workflows/pull-request.yml
Due: none

Fix
  .firebaserc
  .github/workflows/pull-request.yml
Due: none

Set pr to firebase target dev (#9)
  .firebaserc
  .github/workflows/pull-request.yml
  .prettierignore
Due: none

Migrate to pnpm
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update to use pnpm
  .github/workflows/dev-merge.yml
  .github/workflows/pull-request.yml
  README.md
Due: prettier --write
